*~
*.URL
*.xap
*.apk
*.exe
*.git*
*.hg*
*.bat
*.xdk
*.xdke
*.xdk_bak
*.xdke_bak
*.webapp
*.fw.png
*.bmp
*.ico
*.ispro
*.aip
*.iss
*.nsi
*.guid
*.isl
*-cache
.a.html
.a.txt
.dir.txt
.remove-modules.sh
builder.json
bundle.css
bundle.js
cordova.js
favicon-32x32.png
favicon.ico
icon.icns
index.js
installer.nsi.tpl
intelxdk.config.*.xml
koala-config.json
main.js
print.css
xdk-publish-meta-data.json
node_modules/
diy/libs/contents/img/*.svg
diy/libs/serguei/img/*.svg
diy/package.json
diy/res/installer/background.png
xdk/
/.*
!/.hgignore
!/.gitignore
!/.pgbomit
