/*! @import "typeboost-uwp"; */
/*!
 * typeboost-uwp.css v0.1.8
 * @see {@link https://github.com/englishextra/typeboost-uwp.css}
 * set html font to 15px, and body to 1.000rem
 * line height should be the closest multiple of 4
 */
html {
	font-size: 15px;
	line-height: 20px;
}

body {
	font-size: 1rem;
	line-height: 1.333rem;
}

.col div,
.col span,
.col applet,
.col object,
.col iframe,
.col h1,
.col h2,
.col h3,
.col h4,
.col h5,
.col h6,
.col p,
.col blockquote,
.col pre,
.col a,
.col abbr,
.col acronym,
.col address,
.col big,
.col cite,
.col code,
.col del,
.col dfn,
.col em,
.col img,
.col ins,
.col kbd,
.col q,
.col s,
.col samp,
.col small,
.col strike,
.col strong,
.col sub,
.col sup,
.col tt,
.col var,
.col b,
.col u,
.col i,
.col center,
.col dl,
.col dt,
.col dd,
.col ol,
.col ul,
.col details,
.col li,
.col fieldset,
.col form,
.col label,
.col legend,
.col table,
.col caption,
.col tbody,
.col tfoot,
.col thead,
.col tr,
.col th,
.col td,
.col article,
.col aside,
.col canvas,
.col embed,
.col figure,
.col figcaption,
.col footer,
.col header,
.col hgroup,
.col menu,
.col nav,
.col output,
.col ruby,
.col section,
.col summary,
.col time,
.col mark,
.col audio,
.col video {
	font-size: 100%;
	font: inherit;
	border: 0;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

.col sub,
.col sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

.col sup {
	top: -0.5em;
}

.col sub {
	bottom: -0.25em;
}

.col blockquote,
.col q {
	quotes: none;
}

.col blockquote:before,
.col blockquote:after,
.col q:before,
.col q:after {
	content: "";
	content: none;
}

.col a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.col h1 a,
.col h2 a,
.col h3 a,
.col h4 a,
.col h5 a,
.col h6 a {
	font-weight: inherit;
}

.col address,
.col p.address {
	font-size: 0.933rem;
	line-height: 1.333rem;
	margin-right: 0;
}

.col p.blockquote {
	margin-right: 0;
}

.col h1 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	padding: 0;
}

.col h2 {
	font-size: 1.6rem;
	line-height: 2.133rem;
	padding: 0;
}

.col h3 {
	font-size: 1.267rem;
	line-height: 1.6rem;
	padding: 0;
}

.col h4 {
	font-size: 1rem;
	line-height: 1.333rem;
	padding: 0;
}

.col h5 {
	font-size: 1rem;
	line-height: 1.333rem;
	text-transform: uppercase;
	padding: 0;
}

.col h6 {
	font-size: 1rem;
	line-height: 1.333rem;
	text-decoration: underline;
	padding: 0;
}

.col caption,
.col label,
.col p.smaller,
.col table td,
.col table th,
.col pre,
.col pre code {
	font-size: 0.933rem;
	line-height: 1.333rem;
}

.col p.larger,
.col blockquote {
	font-size: 1.133rem;
	line-height: 1.6rem;
}

.col p,
.col p.blockquote,
.col dl dt,
.col dl dd,
.col ul li,
.col ol li {
	font-size: inherit;
	line-height: inherit;
}

.col ul {
	list-style: disc outside;
}

.col ol {
	list-style: decimal inside;
}

.col pre {
	font-size: inherit;
	line-height: inherit;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: inherit;
	overflow: -moz-scrollbars-horizontal;
	overflow-x: auto;
	border: 0;
	box-shadow: none;
	-moz-tab-size: 4;
	tab-size: 4;
	padding: 1.067rem 1.333rem;
}

.col pre code {
	text-shadow: none;
}

.col pre a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.col table {
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.col caption,
.col table th,
.col table td {
	text-align: left;
}

.col table td,
.col table th {
	padding: 0.5rem 0.8rem 0.467rem 0.8rem;
	vertical-align: top;
}

.col img {
	border: 0;
	vertical-align: bottom;
	padding: 0;
}

.col input[type^="text"],
.col input[type^="search"],
.col input[type^="email"],
.col input[type^="url"],
.col input[type^="password"],
.col input[type^="tel"],
.col input[type^="color"],
.col input[type^="number"],
.col input[type^="date"],
.col input[type^="month"],
.col input[type^="week"],
.col input[type^="time"],
.col input[type^="datetime"],
.col input[type^="datetime-local"],
.col select,
.col textarea {
	font-size: 0.933rem;
	line-height: 1.333rem;
	box-sizing: border-box;
	vertical-align: baseline;
	*vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	padding: 0 0.533rem;
}

.col select {
	padding: 0 0 0 0.267rem;
}

.col optgroup {
	margin: 0.267rem;
	padding-left: 0.267rem;
}

.col input[type="color"] {
	padding: 0;
}

.col button,
.col input[type="button"],
.col input[type="reset"],
.col input[type="submit"],
.col input[type^="text"],
.col input[type^="search"],
.col input[type^="email"],
.col input[type^="url"],
.col input[type^="password"],
.col input[type^="tel"],
.col input[type^="color"],
.col input[type^="number"],
.col input[type^="date"],
.col input[type^="month"],
.col input[type^="week"],
.col input[type^="time"],
.col input[type^="datetime"],
.col input[type^="datetime-local"],
.col select {
	height: 2.4rem;
}

.col button,
.col input[type="button"],
.col input[type="reset"],
.col input[type="submit"] {
	font-size: 0.933rem;
	line-height: 1.333rem;
	box-sizing: border-box;
	vertical-align: baseline;
	*vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	cursor: pointer;
	padding: 0 0.533rem;
}

.col label {
	display: block;
	margin-bottom: 0.267rem;
}

.col textarea {
	width: 95%;
}

.col ul,
.col ol,
.col dl {
	margin-left: auto;
}

.col dl dd:before {
	content: "\2014\00a0";
}

.col address,
.col p.address,
.col p.blockquote,
.col dl dd,
.col blockquote {
	margin-left: 1.333rem;
}

.col ol {
	padding-left: 1.333rem;
}

.col .indent {
	text-indent: 1.333rem;
}

.col ul {
	padding-left: 2.667rem;
}

.col td ul {
	margin-top: 0;
}

.col td ul li {
	font-size: inherit;
	line-height: inherit;
}

.col td ol {
	margin-top: 0;
}

.col td ol li {
	font-size: inherit;
	line-height: inherit;
}

.col.textcenter address,
.col.textcenter p.address,
.col.textcenter dd,
.col.textcenter pre,
.col.textcenter blockquote,
.col.textcenter p.blockquote {
	margin-left: 0;
}

.col img,
.col input,
.col ol li,
.col select,
.col textarea,
.col ul li,
.col table td ol,
.col table td ul,
.col table td dl {
	margin: 0;
}

.col address,
.col p.address,
.col p.blockquote,
.col h1,
.col h2,
.col h3,
.col h4,
.col h5,
.col h6,
.col blockquote,
.col caption,
.col dl,
.col dl dd,
.col figcaption,
.col figure,
.col ol,
.col p,
.col pre,
.col table,
.col ul,
.col details {
	margin-top: 0;
}

.col h2 + div,
.col h2 + p,
.col h2 + table,
.col h3 + div,
.col h3 + p,
.col h3 + table,
.col h4 + div,
.col h4 + p,
.col h4 + table,
.col h5 + div,
.col h5 + p,
.col h5 + table,
.col h6 + div,
.col h6 + p,
.col h6 + table {
	margin-top: 0.533rem;
}

.col address:first-child,
.col div + address,
.col h1 + blockquote,
.col h1 + div,
.col h1 + hr,
.col h1 + div.hr,
.col h1 + dl,
.col h1 + ol,
.col h1 + p,
.col h1 + pre,
.col h1 + table,
.col h1 + ul,
.col h1 + details,
.col h2 + blockquote,
.col h2 + dl,
.col h2 + h3,
.col h2 + ol,
.col h2 + pre,
.col h2 + ul,
.col h2 + details,
.col h3 + blockquote,
.col h3 + dl,
.col h3 + h4,
.col h3 + ol,
.col h3 + pre,
.col h3 + ul,
.col h3 + details,
.col h4 + blockquote,
.col h4 + dl,
.col h4 + h3,
.col h4 + h5,
.col h4 + ol,
.col h4 + pre,
.col h4 + ul,
.col h4 + details,
.col h5 + blockquote,
.col h5 + dl,
.col h5 + h6,
.col h5 + h2,
.col h5 + ol,
.col h5 + pre,
.col h5 + ul,
.col h5 + details,
.col h6 + blockquote,
.col h6 + dl,
.col h6 + ol,
.col h6 + pre,
.col h6 + ul,
.col h6 + details,
.col p + address,
.col p + p,
.col p.address,
.col p.blockquote,
.col pre + address,
.col table + address,
.col table + p.address,
.col table + p.blockquote {
	margin-top: 1.333rem;
}

.col blockquote + blockquote,
.col blockquote + dl,
.col blockquote + h1,
.col blockquote + h2,
.col blockquote + h3,
.col blockquote + h4,
.col blockquote + h5,
.col blockquote + h6,
.col blockquote + ol,
.col blockquote + p,
.col blockquote + pre,
.col blockquote + table,
.col blockquote + ul,
.col blockquote + details,
.col div + blockquote,
.col div + dl,
.col div + h1,
.col div + h2,
.col div + h3,
.col div + h4,
.col div + h5,
.col div + h6,
.col div + ol,
.col div + p,
.col div + pre,
.col div + table,
.col div + ul,
.col div + details,
.col dl + blockquote,
.col dl + dl,
.col dl + h1,
.col dl + h2,
.col dl + h3,
.col dl + h4,
.col dl + h5,
.col dl + h6,
.col dl + ol,
.col dl + p,
.col dl + pre,
.col dl + table,
.col dl + ul,
.col dl + details,
.col ol + blockquote,
.col ol + dl,
.col ol + h1,
.col ol + h2,
.col ol + h3,
.col ol + h4,
.col ol + h5,
.col ol + h6,
.col ol + ol,
.col ol + p,
.col ol + pre,
.col ol + table,
.col ol + ul,
.col ol + details,
.col p + blockquote,
.col p + dl,
.col p + figcaption,
.col p + figure,
.col p + h1,
.col p + h2,
.col p + h3,
.col p + h4,
.col p + h5,
.col p + h6,
.col p + ol,
.col p + pre,
.col p + table,
.col p + ul,
.col p + details,
.col pre + blockquote,
.col pre + dl,
.col pre + h1,
.col pre + h2,
.col pre + h3,
.col pre + h4,
.col pre + h5,
.col pre + h6,
.col pre + ol,
.col pre + p,
.col pre + pre,
.col pre + table,
.col pre + ul,
.col pre + details,
.col table + blockquote,
.col table + dl,
.col table + h1,
.col table + h2,
.col table + h3,
.col table + h4,
.col table + h5,
.col table + h6,
.col table + ol,
.col table + p,
.col table + pre,
.col table + table,
.col table + ul,
.col table + details,
.col ul + blockquote,
.col ul + dl,
.col ul + h1,
.col ul + h2,
.col ul + h3,
.col ul + h4,
.col ul + h5,
.col ul + h6,
.col ul + ol,
.col ul + p,
.col ul + pre,
.col ul + table,
.col ul + ul,
.col ul + details,
.col details + blockquote,
.col details + dl,
.col details + h1,
.col details + h2,
.col details + h3,
.col details + h4,
.col details + h5,
.col details + h6,
.col details + ol,
.col details + p,
.col details + pre,
.col details + table,
.col details + ul,
.col details + details,
.col h1:first-child,
.col h2:first-child,
.col h3:first-child,
.col h4:first-child,
.col h5:first-child,
.col h6:first-child,
.col p:first-child,
.col dl:first-child,
.col ul:first-child,
.col details:first-child,
.col ol:first-child,
.col blockquote:first-child,
.col pre:first-child,
.col table:first-child,
.col figcaption:first-child,
.col figure:first-child {
	margin-top: 1.333rem;
}

.col dl dd,
.col address:first-of-type,
.col p.address:first-of-type,
.col address:last-child,
.col p.address:last-child,
.col p.blockquote:first-of-type,
.col p.blockquote:last-child,
.col p:last-child,
.col dl:last-child,
.col ul:last-child,
.col details:last-child,
.col ol:last-child,
.col blockquote:last-child,
.col pre:last-child,
.col table:first-of-type,
.col table:last-child,
.col figcaption:last-child,
.col figure:last-child {
	margin-bottom: 0;
}

.col address,
.col blockquote,
.col dl,
.col figcaption,
.col figure,
.col ol,
.col pre,
.col ul,
.col details {
	margin-bottom: 1.333rem;
}

.col blockquote + p,
.col div + p,
.col dl + p,
.col h1 + p,
.col h2 + p,
.col h3 + p,
.col h4 + p,
.col h5 + p,
.col h6 + p,
.col ol + p,
.col p + p,
.col pre + p,
.col table + p,
.col ul + p,
.col details + p {
	margin-bottom: 1.067rem;
}

.col .textleft {
	text-align: left;
}

.col .textright {
	text-align: right;
}

.col .textcenter {
	text-align: center;
}

.col .larger {
	font-size: larger;
}

.col small,
.col .smaller {
	font-size: smaller;
}

.col hr,
.col .hr {
	height: 0.067rem;
	padding: 0;
	margin: 1.333rem 0 1.267rem 0;
}

/*!
 * font weights
 */
.col h2,
.col h4,
.col h5,
.col h6,
.col address,
.col p,
.col p.address,
.col p.blockquote,
.col dl dd,
.col ul li,
.col ol li,
.col table td,
.col caption,
.col input[type^="text"],
.col input[type^="search"],
.col input[type^="email"],
.col input[type^="url"],
.col input[type^="password"],
.col input[type^="tel"],
.col input[type^="color"],
.col input[type^="number"],
.col input[type^="date"],
.col input[type^="month"],
.col input[type^="week"],
.col input[type^="time"],
.col input[type^="datetime"],
.col input[type^="datetime-local"],
.col select,
.col textarea,
.col label {
	font-weight: normal;
}

.col h1 {
	font-weight: normal;
}

.col h4,
.col table th,
.col dl dt,
.col button,
.col input[type="button"],
.col input[type="reset"],
.col input[type="submit"],
.col b,
.col strong,
.col .bolder,
.col .highlight {
	font-weight: bolder;
}

/*!
 * font styles
 */
.col address,
.col p.address,
.col p.blockquote,
.col blockquote,
.col caption,
.col label,
.col i,
.col em,
.col .italic {
	font-style: italic;
}

.col optgroup {
	font-style: normal;
}

/*!
 * font families
 */
.col body {
	font-family: "Segoe UI", "Segoe WP", "HelveticaNeue", "Roboto",
		"Source Sans Pro", "Open Sans", "Exo2", "Fira Sans", sans-serif;
}

/* .col h1 {
	font-family: "Segoe UI", "Segoe WP", "HelveticaNeue-Light", "Source Sans Pro", "Open Sans", "Exo2", "Fira Sans", sans-serif-light, sans-serif;
} */
.col pre,
.col pre code {
	font-family: "Consolas", "Monaco", "Droid Sans Mono", "Inconsolata",
		"Source Code Pro", monospace;
}

.col select {
	font-family: sans-serif;
}

.col button,
.col input[type="button"],
.col input[type="reset"],
.col input[type="submit"],
.col input[type^="text"],
.col input[type^="search"],
.col input[type^="email"],
.col input[type^="url"],
.col input[type^="password"],
.col input[type^="tel"],
.col input[type^="color"],
.col input[type^="number"],
.col input[type^="date"],
.col input[type^="month"],
.col input[type^="week"],
.col input[type^="time"],
.col input[type^="datetime"],
.col input[type^="datetime-local"],
.col textarea,
.col caption,
.col table th,
.col table td {
	font-family: inherit;
}

.col .phonetic {
	font-family: "Roboto Mono", "Consolas", "Monaco", "Droid Sans Mono",
		"Inconsolata", "Source Code Pro", monospace;
}

/*!
 * colors
 */
.col a {
	color: #3585d8;
}

.col a:focus,
.col a:hover,
.col a:active {
	color: #3585d8;
}

.col h1,
.col h2,
.col h3,
.col h4,
.col h5,
.col h6,
.col h1 a,
.col h2 a,
.col h3 a,
.col h4 a,
.col h5 a,
.col h6 a,
.col pre code,
.col pre a,
.col caption,
.col table td,
.col table th a,
.col input[type^="text"],
.col input[type^="search"],
.col input[type^="email"],
.col input[type^="url"],
.col input[type^="password"],
.col input[type^="tel"],
.col input[type^="color"],
.col input[type^="number"],
.col input[type^="date"],
.col input[type^="month"],
.col input[type^="week"],
.col input[type^="time"],
.col input[type^="datetime"],
.col input[type^="datetime-local"],
.col textarea,
.col select,
.col input[type^="text"]:focus,
.col input[type^="search"]:focus,
.col input[type^="email"]:focus,
.col input[type^="url"]:focus,
.col input[type^="password"]:focus,
.col input[type^="tel"]:focus,
.col input[type^="color"]:focus,
.col input[type^="number"]:focus,
.col input[type^="date"]:focus,
.col input[type^="month"]:focus,
.col input[type^="week"]:focus,
.col input[type^="time"]:focus,
.col input[type^="datetime"]:focus,
.col input[type^="datetime-local"]:focus,
.col textarea:focus,
.col select:focus,
.col input[type^="text"]:active,
.col input[type^="search"]:active,
.col input[type^="email"]:active,
.col input[type^="url"]:active,
.col input[type^="password"]:active,
.col input[type^="tel"]:active,
.col input[type^="color"]:active,
.col input[type^="number"]:active,
.col input[type^="date"]:active,
.col input[type^="month"]:active,
.col input[type^="week"]:active,
.col input[type^="time"]:active,
.col input[type^="datetime"]:active,
.col input[type^="datetime-local"]:active,
.col textarea:active,
.col select:active {
	color: inherit;
}

.col pre {
	color: inherit;
	background-color: #f3f3f3;
}

.col pre a:focus,
.col pre a:hover,
.col pre a:active {
	color: inherit;
}

.col select,
.col input[type^="text"],
.col input[type^="search"],
.col input[type^="email"],
.col input[type^="url"],
.col input[type^="password"],
.col input[type^="tel"],
.col input[type^="color"],
.col input[type^="number"],
.col input[type^="date"],
.col input[type^="month"],
.col input[type^="week"],
.col input[type^="time"],
.col input[type^="datetime"],
.col input[type^="datetime-local"],
.col textarea {
	background-color: #ffffff;
	border: 0.067rem solid #c3c3c3;
}

.col button:focus,
.col input[type="button"]:focus,
.col input[type="reset"]:focus,
.col input[type="submit"]:focus,
.col button:hover,
.col input[type="button"]:hover,
.col input[type="reset"]:hover,
.col input[type="submit"]:hover,
.col button:active,
.col input[type="button"]:active,
.col input[type="reset"]:active,
.col input[type="submit"]:active {
	color: #ffffff;
	background-color: #5f5f5f;
	border: 0.067rem solid #5f5f5f;
}

.col button,
.col input[type="button"],
.col input[type="reset"],
.col input[type="submit"] {
	color: #ffffff;
	background-color: #373737;
	border: 0.067rem solid #373737;
}

.col select:focus,
.col select:hover,
.col input[type^="text"]:focus,
.col input[type^="search"]:focus,
.col input[type^="email"]:focus,
.col input[type^="url"]:focus,
.col input[type^="password"]:focus,
.col input[type^="tel"]:focus,
.col input[type^="color"]:focus,
.col input[type^="number"]:focus,
.col input[type^="date"]:focus,
.col input[type^="month"]:focus,
.col input[type^="week"]:focus,
.col input[type^="time"]:focus,
.col input[type^="datetime"]:focus,
.col input[type^="datetime-local"]:focus,
.col textarea:focus,
.col select:active,
.col input[type^="text"]:active,
.col input[type^="search"]:active,
.col input[type^="email"]:active,
.col input[type^="url"]:active,
.col input[type^="password"]:active,
.col input[type^="tel"]:active,
.col input[type^="color"]:active,
.col input[type^="number"]:active,
.col input[type^="date"]:active,
.col input[type^="month"]:active,
.col input[type^="week"]:active,
.col input[type^="time"]:active,
.col input[type^="datetime"]:active,
.col input[type^="datetime-local"]:active,
.col textarea:active {
	background-color: #f3f3f3;
	border: 0.067rem solid #c3c3c3;
}

.col select:disabled,
.col input[type^="text"]:disabled,
.col input[type^="search"]:disabled,
.col input[type^="email"]:disabled,
.col input[type^="url"]:disabled,
.col input[type^="password"]:disabled,
.col input[type^="tel"]:disabled,
.col input[type^="color"]:disabled,
.col input[type^="number"]:disabled,
.col input[type^="date"]:disabled,
.col input[type^="month"]:disabled,
.col input[type^="week"]:disabled,
.col input[type^="time"]:disabled,
.col input[type^="datetime"]:disabled,
.col input[type^="datetime-local"]:disabled,
.col textarea:disabled {
	background-color: #d5d5d5;
	border-color: #d5d5d5;
}

.col button:disabled,
.col input[type="button"]:disabled,
.col input[type="reset"]:disabled,
.col input[type="submit"]:disabled {
	background-color: #d5d5d5;
	border-color: #d5d5d5;
}

.col table {
	border: none;
	border-top-width: 0.067rem;
	border-top-style: solid;
	border-top-color: #c3c3c3;
	border-right-width: 0.067rem;
	border-right-style: solid;
	border-right-color: #c3c3c3;
	border-left-width: 0.067rem;
	border-left-style: solid;
	border-left-color: #c3c3c3;
}

.col table th {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: #c3c3c3;
}

.col table td {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: #c3c3c3;
}

.col img {
	background-color: inherit;
	border: 0;
}

.col hr,
.col .hr {
	background-color: #c3c3c3;
	border: 0;
}

.col .highlight {
	color: #d93d3d;
}
