@font-face {
 font-family: "fontello-custom";
 src: url(fontello-custom.eot?16992314);
 src: url(fontello-custom.eot?16992314#iefix) format('embedded-opentype'),
 url(fontello-custom.svg?16992314#custom) format('svg'),
 url(fontello-custom.woff?16992314) format('woff'),
 url(fontello-custom.ttf?16992314) format('truetype');
 font-weight: normal;
 font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
 @font-face {
 font-family: "fontello-custom";
 url(fontello-custom.svg?16992314#custom') format('svg');
 }
}
*/
 
 [class^="fontello-custom-"]:before, [class*=" fontello-custom-"]:before {
 font-family: "fontello-custom" !important;
 font-style: normal;
 font-weight: normal;
 speak: none;
 
 display: inline-block;
 text-decoration: inherit;
 width: 1.000em;
 margin-right: .2em;
 text-align: center;
 /* opacity: .8; */
 
 /* For safety - reset parent styles, that can break glyph codes*/
 font-variant: normal;
 text-transform: none;
 
 /* fix buttons height, for twitter bootstrap */
 line-height: 1.000em;
 
 /* Animation center compensation - margins should be symmetric */
 /* remove if not needed */
 margin-left: .2em;
 
 /* you can be more comfortable with increased icons size */
 /* font-size: 120%; */
 
 /* Uncomment for 3D effect */
 /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fontello-custom-glyph-4:before { content: '\e800'; }
.fontello-custom-glyph:before { content: '\e801'; }
.fontello-custom-glyph-1:before { content: '\e802'; }
.fontello-custom-glyph-2:before { content: '\e803'; }
.fontello-custom-glyph-3:before { content: '\e804'; }
.fontello-custom-glyph-5:before { content: '\e805'; }
.fontello-custom-glyph-6:before { content: '\e806'; }
.fontello-custom-angle-down:before { content: '\e807'; }
.fontello-custom-menu:before { content: '\e808'; }
.fontello-custom-angle-left:before { content: '\e809'; }
.fontello-custom-angle-up:before { content: '\e80a'; }
.fontello-custom-angle-right:before { content: '\e80b'; }
.fontello-custom-glyph-7:before { content: '\e80c'; }
.fontello-custom-th:before { content: '\e80d'; }
.fontello-custom-navicon:before { content: '\e80e'; }
.fontello-custom-dot-3:before { content: '\e80f'; }
.fontello-custom-th-1:before { content: '\e810'; }
.fontello-custom-menu-1:before { content: '\e811'; }
.fontello-custom-down-small:before { content: '\e812'; }
.fontello-custom-left-small:before { content: '\e813'; }
.fontello-custom-right-small:before { content: '\e814'; }
.fontello-custom-up-small:before { content: '\e815'; }
.fontello-custom-th-2:before { content: '\e816'; }
.fontello-custom-th-list:before { content: '\e817'; }
.fontello-custom-play:before { content: '\e818'; }
.fontello-custom-pause:before { content: '\e819'; }
.fontello-custom-stop:before { content: '\e81a'; }
