/**
 * kamil demo
 */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #FCFCFC;
	line-height: 1.5;
}

.btn-large {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	height: 54px;
	line-height: 56px;
	text-decoration: none;
	color: #FFF;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: .5px;
	border: none;
	border-radius: 2px;
	outline: 0;
	padding: 0 2rem;
	text-transform: uppercase;
	transition: all .3s ease-out;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-large:hover {
	background-color: #4db6ac;
}

input {
	background-color: #fafafa;
	outline: none;
	border: none;
	font-size: 18px;
	color: #707070;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
	padding: 14px 16px;
}

p {
	font-size: 1.25rem;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.71);
}

header {
	text-align: center;
	padding: 35px 12px;
	margin: 50px 15% 50px 15%;
}

header h1 {
	font-size: 3.5em;
	font-weight: 100;
	color: #01579b;
}

header h2 {
	font-weight: 100;
	font-style: italic;
	color: rgba(0, 0, 0, 0.63);
}

nav {
	display: inline-block;
	height: 64px;
	line-height: 64px;
	margin-top: 25px;
	color: #fff;
	background-color: #0288d1;
	width: auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

nav .nav-wrapper {
	position: relative;
	height: 100%;
	padding: 0px 15px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li {
	transition: background-color .3s;
	float: left;
	padding: 0;
}

nav ul li:hover {
	background-color: #01579b;
}

nav ul a {
	font-size: 1rem;
	color: #fff;
	display: block;
	padding: 0 15px;
	text-decoration: none;
}

.content {
	margin: 50px 15% 50px 15%;
}

.content .demo {
	margin-bottom: 40px;
}

.demo h1 {
	margin-bottom: 23px;
	font-size: 2.3em;
	padding: 0 10px;
	border-left: 5px solid #303f9f;
	color: #1a237e;
}

.demo p {
	padding: 18px 0;
}

.content .demo:last-child {
	margin-bottom: 0;
}

.example {
	text-align: center;
	margin: 25px 0 25px 0;
}

table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

thead,
tr {
	border-bottom: 1px solid #d0d0d0;
}

td,
th {
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
}

.striped-even {
	background-color: #dcdcdc;
}
