* {
	box-sizing: border-box;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

body {
	font-family: Segoe UI, Segoe MDL2 Assets;
	font-size: 15px;
	line-height: 1.5;
}

/*!
 * .uwp-container
 */

.uwp-container {
	display: flex;
	width: 100%;
}

/*!
 * if height 100%
 * the chrome on mobile
 * won't hide addressbar on scroll
 */
[data-layout-type="tabs"] .uwp-container,
[data-layout-type="overlay"] .uwp-container,
[data-layout-type="docked-minimized"] .uwp-container,
[data-layout-type="docked"] .uwp-container {
	height: auto;
}

[data-layout-type="tabs"] .uwp-container,
[data-layout-type="overlay"] .uwp-container {
	flex-direction: column;
}

[data-layout-type="docked-minimized"] .uwp-container {
	flex-direction: row;
}

/*!
 * .uwp-header
 */

.uwp-header {
	z-index: 997;
}

[data-layout-type="tabs"] .uwp-header,
[data-layout-type="overlay"] .uwp-header,
[data-layout-type="docked"] .uwp-header {
	position: fixed;
}

[data-layout-type="docked-minimized"] .uwp-header {
	position: relative;
}

/*!
 * .uwp-menu-button
 */

[data-layout-type="tabs"] .uwp-menu-button,
[data-layout-type="docked"] .uwp-menu-button {
	display: none;
}

[data-layout-type="overlay"] .uwp-menu-button,
[data-layout-type="docked-minimized"] .uwp-menu-button {
	width: 44px;
	height: 44px;
	font-size: 20px;
	color: inherit;
	border: 0;
	background-color: transparent;
	vertical-align: top;
	outline: none;
	z-index: 999;
}

[data-layout-type="overlay"] .uwp-menu-button {
	position: relative;
}

[data-layout-type="docked-minimized"] .uwp-menu-button {
	position: fixed;
}

/*!
 * .uwp-main
 */

[data-layout-type="tabs"] .uwp-main {
	margin-top: 66px;
}

[data-layout-type="overlay"] .uwp-main {
	margin-top: 44px;
}

[data-layout-type="docked-minimized"] .uwp-main {
	width: calc(100% - 44px);
}

[data-layout-type="docked"] .uwp-main {
	margin-left: 250px;
}

/*!
 * .uwp-nav
 */

.uwp-nav ul li {
	display: block;
}

.uwp-nav ul li a {
	text-decoration: none;
	color: inherit;
}

/*!
 * other
 */

[data-layout-type="tabs"] .uwp-header {
	width: 100%;
	background: rgb(230, 230, 230);
	color: rgb(92, 92, 92);
}

[data-layout-type="tabs"].uwp-theme--light .uwp-header {
	color: rgba(0, 0, 0, 0.6);
}

[data-layout-type="tabs"].uwp-theme--dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

[data-layout-type="tabs"] .uwp-header>.uwp-page-heading,
[data-layout-type="tabs"] .uwp-menu-button,
[data-layout-type="tabs"] .uwp-nav {
	display: none;
}

[data-layout-type="tabs"] .uwp-nav:nth-of-type(1) {
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 12px;
	justify-content: center;
	overflow-x: auto;
}

[data-layout-type="tabs"] .uwp-nav:nth-of-type(1) ul {
	display: flex;
	flex-shrink: 1;
}

[data-layout-type="tabs"] .uwp-nav:nth-of-type(1) ul li {
	min-width: 84px;
	max-width: 168px;
	border-bottom: 2px solid transparent;
}

[data-layout-type="tabs"] .uwp-nav:nth-of-type(1) ul li.active {
	color: rgb(0, 120, 215);
	border-bottom-color: rgb(0, 120, 215);
}

[data-layout-type="tabs"] .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="tabs"].uwp-theme--light .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="tabs"].uwp-theme--dark .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="tabs"] .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	display: block;
	padding: 10px;
	text-align: center;
}

[data-layout-type="tabs"] .uwp-nav:nth-of-type(1) ul li a span {
	width: 20px;
	height: 20px;
	display: block;
	margin: 0 auto;
	margin-bottom: 4px;
	font-size: 16px;
}

[data-layout-type="overlay"] .uwp-header {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: 44px;
	background: rgb(250, 250, 250);
	color: rgb(50, 50, 50);
}

[data-layout-type="overlay"].uwp-theme--light .uwp-header {
	color: rgba(0, 0, 0, 0.78);
}

[data-layout-type="overlay"].uwp-theme--dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

[data-layout-type="overlay"] .uwp-header>.uwp-page-heading {
	display: inline-block;
	height: 24px;
	margin: 10px 0;
	padding-left: 14px;
	border-left: 1px solid rgb(200, 200, 200);
	flex-grow: 1;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
}

[data-layout-type="overlay"].uwp-theme--light .uwp-header>.uwp-page-heading {
	border-left-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="overlay"].uwp-theme--dark .uwp-header>.uwp-page-heading {
	border-left-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="overlay"] .uwp-menu-button {
	width: 44px;
	height: 44px;
	border: 0;
	outline: none;
	background-color: transparent;
	vertical-align: top;
	z-index: 999;
	font-size: 20px;
	color: inherit;
}

[data-layout-type="overlay"] .uwp-menu-button:hover {
	background-color: rgb(218, 218, 218);
}

[data-layout-type="overlay"].uwp-theme--light .uwp-menu-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="overlay"].uwp-theme--dark .uwp-menu-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) {
	width: 250px;
	padding-top: 44px;
	background: rgb(230, 230, 230);
	transition: left 350ms cubic-bezier(0.1, 0.9, 0.2, 1);
	position: fixed;
	top: 0;
	left: -250px;
	bottom: 0;
	z-index: 998;
	display: flex;
	flex-direction: column;
	font-size: 15px;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1).active {
	left: 0;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul {
	width: 100%;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul:nth-last-of-type(2) {
	flex-grow: 1;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul:last-of-type {
	flex-shrink: 1;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top: 1px solid rgb(200, 200, 200);
	margin-top: 10px;
	padding-top: 10px;
}

[data-layout-type="overlay"].uwp-theme--light .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="overlay"].uwp-theme--dark .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul li {
	width: 100%;
	height: 44px;
	line-height: 0;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul li.active {
	color: #FFFFFF;
	background-color: rgb(0, 120, 215);
}

[data-layout-type="overlay"].uwp-theme--active-light .uwp-nav:nth-of-type(1) ul li.active {
	color: #000000;
}

[data-layout-type="overlay"].uwp-theme--active-dark .uwp-nav:nth-of-type(1) ul li.active {
	color: #FFFFFF;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="overlay"].uwp-theme--light .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="overlay"].uwp-theme--dark .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	line-height: 24px;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(1) ul li a span {
	width: 24px;
	height: 24px;
	margin: 2px 10px 2px 0;
	font-size: 16px;
	text-align: center;
}

[data-layout-type="overlay"] .uwp-nav:nth-of-type(2) {
	height: 24px;
	margin: 10px;
	font-size: 15px;
	line-height: 24px;
	color: rgb(50, 50, 50);
}

[data-layout-type="docked-minimized"] .uwp-header {
	display: flex;
	flex-shrink: 0;
	width: 44px;
	height: 100%;
	background: rgb(250, 250, 250);
	color: rgb(50, 50, 50);
}

[data-layout-type="docked-minimized"].uwp-theme--light .uwp-header {
	color: rgba(0, 0, 0, 0.78);
}

[data-layout-type="docked-minimized"].uwp-theme--dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

[data-layout-type="docked-minimized"] .uwp-header>.uwp-page-heading {
	display: none;
}

[data-layout-type="docked-minimized"] .uwp-menu-button {
	width: 44px;
	height: 44px;
	border: 0;
	outline: none;
	background-color: transparent;
	vertical-align: top;
	z-index: 999;
	font-size: 20px;
	color: inherit;
}

[data-layout-type="docked-minimized"] .uwp-menu-button:hover {
	background-color: rgb(218, 218, 218);
}

[data-layout-type="docked-minimized"].uwp-theme--light .uwp-menu-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="docked-minimized"].uwp-theme--dark .uwp-menu-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) {
	width: 250px;
	padding-top: 44px;
	background: rgb(230, 230, 230);
	transition: clip 350ms cubic-bezier(0.1, 0.9, 0.2, 1);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 998;
	display: flex;
	flex-direction: column;
	clip: rect(0px, 44px, 9999px, 0px);
	font-size: 15px;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1).active {
	clip: rect(0px, 250px, 9999px, 0px);
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul {
	width: 100%;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul:nth-last-of-type(2) {
	flex-grow: 1;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul:last-of-type {
	flex-shrink: 1;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top: 1px solid rgb(200, 200, 200);
	margin-top: 10px;
	padding-top: 10px;
}

[data-layout-type="docked-minimized"].uwp-theme--light .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="docked-minimized"].uwp-theme--dark .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul li {
	width: 100%;
	height: 44px;
	line-height: 0;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul li.active {
	color: #FFFFFF;
	background-color: rgb(0, 120, 215);
}

[data-layout-type="docked-minimized"].uwp-theme--active-light .uwp-nav:nth-of-type(1) ul li.active {
	color: #000000;
}

[data-layout-type="docked-minimized"].uwp-theme--active-dark .uwp-nav:nth-of-type(1) ul li.active {
	color: #FFFFFF;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="docked-minimized"].uwp-theme--light .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="docked-minimized"].uwp-theme--dark .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	line-height: 24px;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(1) ul li a span {
	width: 24px;
	height: 24px;
	margin: 2px 10px 2px 0;
	font-size: 16px;
	text-align: center;
}

[data-layout-type="docked-minimized"] .uwp-nav:nth-of-type(2) {
	height: 24px;
	margin: 10px;
	font-size: 15px;
	line-height: 24px;
	color: rgb(50, 50, 50);
}

[data-layout-type="docked"] .uwp-header {
	display: flex;
	flex-shrink: 0;
	width: 250px;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(250, 250, 250);
	color: rgb(50, 50, 50);
}

[data-layout-type="docked"].uwp-theme--light .uwp-header {
	color: rgba(0, 0, 0, 0.78);
	;
}

[data-layout-type="docked"].uwp-theme--dark .uwp-header {
	color: rgba(255, 255, 255, 1);
}

[data-layout-type="docked"] .uwp-header>.uwp-page-heading {
	display: none;
}

[data-layout-type="docked"] .uwp-menu-button {
	display: none;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) {
	width: 250px;
	background: rgb(230, 230, 230);
	display: flex;
	flex-direction: column;
	font-size: 15px;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul {
	width: 100%;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul:nth-last-of-type(2) {
	flex-grow: 1;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul:last-of-type {
	flex-shrink: 1;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top: 1px solid rgb(200, 200, 200);
	margin-top: 10px;
	padding-top: 10px;
}

[data-layout-type="docked"].uwp-theme--light .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(0, 0, 0, 0.2);
}

[data-layout-type="docked"].uwp-theme--dark .uwp-nav:nth-of-type(1) ul:not(:first-of-type) {
	border-top-color: rgba(255, 255, 255, 0.4);
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul li {
	width: 100%;
	height: 44px;
	line-height: 0;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul li.active {
	color: #FFFFFF;
	background-color: rgb(0, 120, 215);
}

[data-layout-type="docked"].uwp-theme--active-light .uwp-nav:nth-of-type(1) ul li.active {
	color: #000000;
}

[data-layout-type="docked"].uwp-theme--active-dark .uwp-nav:nth-of-type(1) ul li.active {
	color: #FFFFFF;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgb(205, 205, 205);
}

[data-layout-type="docked"].uwp-theme--light .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(0, 0, 0, 0.1);
}

[data-layout-type="docked"].uwp-theme--dark .uwp-nav:nth-of-type(1) ul li:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul li a {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	line-height: 24px;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(1) ul li a span {
	width: 24px;
	height: 24px;
	margin: 2px 10px 2px 0;
	font-size: 16px;
	text-align: center;
}

[data-layout-type="docked"] .uwp-nav:nth-of-type(2) {
	height: 24px;
	margin: 10px;
	font-size: 15px;
	line-height: 24px;
	color: rgb(50, 50, 50);
}

.uwp-nav[data-type="commands"] {
	width: 100%;
	height: 48px;
	background: rgb(230, 230, 230);
	color: rgb(90, 90, 90);
}

.uwp-nav[data-type="commands"] ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.uwp-nav[data-type="commands"] ul li {
	display: inline-block;
	min-width: 68px;
	height: 100%;
	padding: 14px 24px;
	text-align: center;
}

.uwp-nav[data-type="commands"] ul li:hover {
	background-color: rgb(205, 205, 205);
}

.uwp-nav[data-type="commands"].uwp-theme--light ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.uwp-nav[data-type="commands"].uwp-theme--dark ul li:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.uwp-nav[data-type="commands"] ul li span {
	display: block;
	margin: 0 auto;
}

.uwp-nav[data-type="commands"] ul li span:first-child {
	width: 20px;
	height: 20px;
	margin-bottom: 4px;
	background-color: rgb(90, 90, 90);
}

.uwp-nav[data-type="commands"] ul li span:last-child {
	display: none;
}

.uwp-main {
	background: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.8);
	flex-grow: 1;
	overflow-y: auto;
}

.uwp-main.uwp-main--with-animation {
	animation: uwp-main 500ms cubic-bezier(0.1, 0.9, 0.2, 1);
}

@keyframes uwp-main {
	0% {
		margin-top: 20px;
	}

	100% {
		margin-top: 0;
	}
}

.uwp-error {
	text-align: center;
	margin: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

[data-layout-type="tabs"] .uwp-error {
	top: calc(50% + 33px);
	left: 50%;
}

[data-layout-type="overlay"] .uwp-error {
	top: calc(50% + 22px);
	left: 50%;
}

[data-layout-type="docked-minimized"] .uwp-error {
	top: 50%;
	left: calc(50% + 22px);
}

[data-layout-type="docked"] .uwp-error {
	top: 50%;
	left: calc(50% + 125px);
}

/* <div class="uwp-loading is-active">
	<div class="uwp-loading__part">
		<div class="uwp-loading__rotator"></div>
	</div>
	<div class="uwp-loading__part uwp-loading__part--bottom">
		<div class="uwp-loading__rotator"></div>
	</div>
</div> */

/*!
 * @see {@link http://epic-spinners.epicmax.co}
 * @see {@link https://github.com/epicmaxco/epic-spinners}
 */
/* .uwp-loading,
.uwp-loading * {
	box-sizing: border-box;
}

.uwp-loading {
	visibility: hidden;
	opacity: 0;
	height: 60px;
	width: 60px;
	margin: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.uwp-loading.is-active {
	visibility: visible;
	opacity: 1;
}

[data-layout-type="tabs"] .uwp-loading {
	top: calc(50% + 33px);
	left: 50%;
}

[data-layout-type="overlay"] .uwp-loading {
	top: calc(50% + 22px);
	left: 50%;
}

[data-layout-type="docked-minimized"] .uwp-loading {
	top: 50%;
	left: calc(50% + 22px);
}

[data-layout-type="docked"] .uwp-loading {
	top: 50%;
	left: calc(50% + 125px);
}

.uwp-loading .uwp-loading__part {
	overflow: hidden;
	height: calc(60px / 2);
	width: 60px;
}

.uwp-loading .uwp-loading__part.uwp-loading__part--bottom {
	transform: rotate(180deg) scale(-1, 1);
}

.uwp-loading .uwp-loading__rotator {
	width: 60px;
	height: 60px;
	border: calc(60px / 7) solid transparent;
	border-right-color: #26C6DA;
	border-top-color: #26C6DA;
	border-radius: 50%;
	box-sizing: border-box;
	animation: uwp-loading-animation 3s ease-in-out infinite;
	transform: rotate(-200deg);
}

@keyframes uwp-loading-animation {
	0% {
		border-width: calc(60px / 7);
	}

	25% {
		border-width: calc(60px / 23.33);
	}

	50% {
		transform: rotate(115deg);
		border-width: calc(60px / 7);
	}

	75% {
		border-width: calc(60px / 23.33);
	}

	100% {
		border-width: calc(60px / 7);
	}
} */
