@font-face {
	font-family: 'fontawesome';
	src: url(fontawesome.eot?70370404);
	src: url(fontawesome.eot?70370404#iefix) format('embedded-opentype'),
	url(fontawesome.svg?70370404#fontawesome) format('svg'),
	url(fontawesome.woff?70370404) format('woff'),
	url(fontawesome.ttf?70370404) format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="fa-"]:before,
[class*=" fa-"]:before {
	font-family: "fontawesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1.000em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1.000em;
	margin-left: .2em;
}
.fa-play:before { content: '\e800'; } /* '' */
.fa-navicon:before { content: '\e801'; } /* '' */
.fa-pause:before { content: '\e802'; } /* '' */
/**
 * fix new names
 */
.fa-play:before { content: '\e800'; } /* '' */
.fa-navicon:before { content: '\e801'; } /* '' */
.fa-bars:before { content: '\e801'; } /* '' */
.fa-pause:before { content: '\e802'; } /* '' */
 